#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 5vw);
  height: 6vw;
  font-size: 3vw;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  align-content: center;

  background-size: cover;
  background-position: center;
}

.nub {
  max-height: 1em;
  outline: solid rgb(207, 231, 97) 1px
}

/* -- Mobile Styles -- */

@media(max-width:768px) {
  .header {
    width: 90vw
  }

  .nub {
    outline: solid green 1px;
  }

  .result-box {
    position: flex;
    left: 3vw;
    width: 78%;
    border-width: 5px;
  }

  .sidebar-button {
    width: 100%;
    margin: 0px;
  }
}

/* Mobile Roller Styles */
.mobile-roller {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f0f0f0;
}

.mobile-roller-dice-box {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #000;
  color: #b3b3b3;
  padding: 1rem;
  border: 1px solid #303030;
  border-radius: 5px;
}

.mobile-roller-dice-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #464646;
  border-top: thick double #32a1ce;
}

.mobile-roller-dice-selector select {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

.mobile-roller-dice-selector button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #32a1ce;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.mobile-roller-dice-selector button:hover {
  background-color: #1e7ba6;
}