#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6vw;
  font-size: 3vw;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  align-content: center;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

@media(max-width:400px) {
  .header {
    width: 90vw
  }
}

.result-box {
  position: absolute;
  left: 6vw;
  top: 7vw;
  padding-left: 1%;
  background-color: black;
  color: #b3b3b3;
  border: #303030;
  border-width: 20px;
  border-style: inset;
  text-align: left;
  text-indent: 5;
  font-size: 24px;
  font-weight: bold;
  width: 75%;
  max-width: 80%;
  height: 813px;
  word-wrap: break-word;
  overflow-y: scroll;
}

@media(max-width:400px) {
  .result-box {
    position: absolute;
    left: 0.5vw;
    width: 78%;
    border-width: 5px;
  }
}

.nub {
  max-height: 4vw;
  outline: solid rgb(207, 231, 97) 1px
}

@media(max-width:400px) {
  .nub {
    outline: solid green 1px;

  }
}



.sidebar {
  position: fixed;
  right: 0px;
  width: 5vw;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

@media(max-width:400px) {
  .sidebar {
    width: 15%;
    padding: 5px;
  }
}

/*Sidebar-button class to cut line bloat in App*/
.sidebar-button {
  display: flex;
  padding: 10px;
  margin: 5px;
  width: 100%;
  background-color: #464646;
  border: thick double #32a1ce;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;

}

@media(max-width:400px) {
  .sidebar-button {
    width: 100%;
    margin: 0px;
  }
}